/* Style the video: 100% width and height to cover the entire window */
  #Video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 80%;
    min-height: 80%;
    }

  body {
    font-family: Arial, Helvetica, sans-serif;
    }

/*mengatur posisi back btn*/
 .bbtn{
  position: relative;
  bottom: -537px;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  }

#backbtn{
  width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #efefef;
    cursor: pointer;
}

#backbtn:hover{
  background: #ddd;
  color: black;
}



/* posisi pause/play btn */
  .playbtn{
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    }

/* Style btn pause/play the video */
  #Btn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #efefef;
    cursor: pointer;
  }
/* style btn pause/play video*/
  #Btn:hover {
    background: #ddd;
    color: black;
  }